/*공통적으로 들어가는 부분*/
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.MainBox {
  display: flex;
  width: 100rem;
  height: 60vh;
}

.CoverBox {
  background-color: #014171;
  font-family: KBO-Dia-Gothic;
  font-weight: 700;
  font-size: 5rem;
  color: #fafafa;
  box-sizing: border-box;
  border-radius: 1rem 0 0 1rem;
  padding: 9rem 0 0 8rem;
  width: 50%;
  height: 100%;
}

.FormBox {
  background-color: #fafafa;
  font-family: KBO-Dia-Gothic;
  font-weight: 300;
  font-size: 1.4rem;
  color: #6b6880;
  box-sizing: border-box;
  border-radius: 0 1rem 1rem 0;
  width: 50%;
  height: 100%;
}

.FormSelect {
  display: flex;
}

/*로그인 회원가입 */
.FormBtn {
  margin: 9.1rem 0rem 0 23rem;
  color: #6b6880;
}

.FormLogin {
  display: flex;
  margin: 10.6rem 10.7rem 2rem 11.4rem;
  flex-direction: column;
  width: 28.2rem;
  font-size: 1.2rem;
}

.FormCheckBox {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.FormSubmit {
  margin: 0rem 10.7rem 0 11.4rem;
}

.FormSubmitBox {
  background-color: #014171;
  color: white;
  font-size: 1.2rem;
  border: 1px solid #014171; /* 테두리 추가, border 속성은 'border: 1px solid #014171;'로 설정 */
  border-radius: 5rem;
  height: 3rem;
  width: 28.2rem;
  cursor: pointer;
}

.UnableSubmitBox {
  background-color: rgba(1, 65, 113, 0.50);
  color: white;
  font-size: 1.2rem;
  border: 0px solid rgba(1, 65, 113, 0.50); /* 테두리 추가, border 속성은 'border: 1px solid #014171;'로 설정 */
  border-radius: 5rem;
  height: 3rem;
  width: 28.2rem;
}
.FormRegister {
  display: flex;
  margin: 1.4rem 0 0 9rem;
  align-items: center;
  font-size: 0.8rem;
}

.ValidText {
  color: #d62117;
  font-size: 0.6rem;
  margin : 0.2rem 0 0 0;
}

.StyledInput24 { 
  border: none;
  border-bottom: 1px solid #6b6880;
  font-family: KBO-Dia-Gothic;
  font-weight: 300;
  font-size: 1.2rem;
  width: 28.2rem;
  padding :0;
  background-color: #fafafa;
  margin-top : 2.4rem;
}

.StyledInput32 {
  border: none;
  border-bottom: 1px solid #6b6880;
  font-family: KBO-Dia-Gothic;
  font-weight: 300;
  font-size: 1.2rem;
  width: 28.2rem;
  padding :0;
  background-color: #fafafa;
  margin-top : 3.2rem;
}

.StyledSelect {
  border: none;
  border-bottom: 1px solid #6b6880;
  font-family: KBO-Dia-Gothic;
  font-weight: 300;
  font-size: 1.2rem;
  width: 13rem;
  padding :0;
  background-color: #fafafa;
  font-style: normal;
}
.StyledOption {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding : 0;
}

.AuthButton {
  border-radius: 0%;
  border: 1px solid #6b6880;
  background-color:#fafafa;
  font-size: 1rem;
  color:#6B6880;
  width: 2.6rem;
  height : 1.6rem;
  margin-left : 0.4rem;
  padding: 0 0 0.1rem 0;
  cursor: pointer;
}

.PasswordInput {
    position:relative;
}

.StyledCheckbox {
  margin: 0 0.4rem 0 0;
  border : 0.5rem solid #014171;
}

.FormCompleteTitle {
  color: #014171;
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
  margin: 23.1rem 0 0 0rem;
}

.FormCompleteText {
  margin: 2.8rem 7.6rem 0 7.3rem;
  text-align: center;
  color : #014171;
  font-size: 2rem;
}
