html {
  font-size: 62.5%; /* 62.5% of the base size of 16px = 10px.*/
}

body {
  font-size: 1.4rem; /* reset 10*1.4 = 14px, to make sure you do not get any 10px around */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
