.notice-write-container {
  display: flex;
  justify-content: center;
  width: 120rem;
  margin: 6rem auto;
}

.notice-write-wrapper {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  width: 120rem;
  height: 75.1rem;
  border-radius: 1rem;
}

.notice-upload {
  margin-left: auto;
  padding: 1.9rem 3.9rem 0 0;
}

.notice-markdown {
  width: 104.4rem;
  margin: 4.3rem 8.5rem 0 7.1rem;
}

.notice-write-title {
  padding: 2.4rem;
  border-bottom: 0.1rem solid #6b6880;

  > input {
    width: 99.6rem;
  }
}

.notice-markdown-view {
  height: 31.7rem;
  padding: 2.4rem 0;
  > textarea {
    width: 100rem;
    height: 100%;
    padding: 0 2.4rem;

    font-size: 1.8rem;
    font-weight: 300;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/*------별도 이미지 추가 부분-------*/
.notice-images-box {
  display: flex;
  align-items: center;
  width: 104.4rem;
  height: 15rem;
  margin: 0 8.5rem 0 9.1rem;
  gap: 0 2.3rem;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.extra-image-wrap {
  position: relative;
}

.extra-image-wrap > img {
  position: absolute;
  top: 0.3rem;
  right: -1rem;
}

.extra-image {
  margin-top: 1.3rem;
  width: 13rem;
  height: 13rem;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.extra-image-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  padding: 3rem;
  background-color: #fafafa;
  border-radius: 0.8rem;
  border: 0.3rem solid #cecdd5;
  margin-top: 1.3rem;
  margin-left: 2rem;
  cursor: pointer;
}
/*-----button, textarea, input style 초기화 및 커스텀------*/
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;

  &.notice-upload-button {
    background-color: #014171;
    color: #fafafa;
    width: 8.6rem;
    height: 3.6rem;
    border-radius: 0.5rem;

    font-family: "KBO-Dia-Gothic";
    font-size: 1.6rem;
    font-weight: 300;
  }
}

textarea {
  resize: none;

  border: 0;
  outline: 0;
  background-color: #fafafa;
  font-family: "KBO-Dia-Gothic";
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  background: #fafafa;
}

.notice-write-title > input {
  font-family: "KBO-Dia-Gothic";
  font-size: 2.6rem;
  font-weight: 500;

  &::placeholder {
    color: #9c9aab;
  }
}
